@model IEnumerable<FrontendCNE.Models.PersonasViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo</a>
</p>
<table class="display table  table-striped table-hover  table-responsive"  cellspacing="0" width="100%" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Per_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_CedulaIdentidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mun_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_Telefono)
            </th>
          
        
           
            <th>
                @Html.DisplayNameFor(model => model.Mes_Mesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_Voto)
            </th>

            <th> Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Per_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Per_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Per_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Per_FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Per_Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Per_CedulaIdentidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Per_Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mun_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Per_Telefono)
            </td>
           
    
            <td>
                @Html.DisplayFor(modelItem => item.Mes_Mesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Per_Voto)
            </td>
           



            <td style="width: 15%">
                <div class="w-100" style="max-width: 250px">
                    <div class="d-flex w-100" style="gap: 5px;">
                        @*<button class="btn btn-outline-warning btn-sm editar-depa" data-depa-id="@item.Per_Id"><i class="fas fa-edit"></i>Editar</button>*@
                        <a  class="btn btn-outline-warning btn-sm editar-depa" onclick="Ed('@item.Per_Id')">Editar <i class="fas fa-edit"></i></a>


                        <a href="@Url.Action("Details", "Persona", new { Per_Id = item.Per_Id })" class="btn btn-outline-primary  btn-sm">Detalles <i class="tim-icons icon-zoom-split"></i></a>

                        <button class="d-flex align-items-center justify-content-around btn btn-outline-danger btn-sm flex-grow-1" style="max-width: 100px" onclick="Eliminar('@item.Per_Id')">
                            <i class="bi bi-trash-fill"></i>
                            Eliminar
                        </button>
                    </div>
                </div>
                </td>
        </tr>
}
    </tbody>
</table>





<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Delete", new FrontendCNE.Models.PersonasViewModel())
            </div>
        </div>
    </div>
</div>




<script src="~../../lib/jquery/dist/jquery.min.js"></script>

<script src="~../../js/dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        let table = new DataTable('#myTable');
    });



    $('.btnCreate').click(function () {
        $('#ModalCrear').modal('show')

    });






    function Ed(id) {
        $('#modalEditar').modal('show');
        var url = "https://localhost:44377/API/Persona/Fill/" + id;
        fetch(url).then(function (result) {
            if (result.ok) {
                return result.json();
            }
        }).then(function (data) {
            console.log(data.data);
            var datos = data.data
            console.log("hola");

            //var depa = datos[0];
            var id = datos.dep_Id
            var descripcion = datos.dep_Descripcion;

            console.log(descripcion);
            $("#id").val(id);
            $("#Dep_Descripcion").val(descripcion);

        });
    };


    $(".editar-depa").click(function (id) {
       
      
    });


    function Eliminar(id) {
        $("#inputHidden").val(id);
        localStorage.setItem("inputHidden", id);
        $('#modalEliminar').modal('show');
    }
</script>