@model CNE.Common.Models.RolViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header ">
    <div class="d-flex justify-content-between">
        <h3 class="card-title">Editar Rol</h3>
    </div>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header row">
                <div class="col-md-6">
                    <input type="text" id="txtRol" name="txtRol" value="@Model.Roles_Descripcion" placeholder="Nombre del Rol" class="form-control" />
                </div>
                <div class=" form-switch col-md-6">
                    <input class="form-check-input" type="checkbox" id="checkTodos">
                    <label class="form-check-label" for="checkTodos">Seleccionar Todos</label>
                </div>
            </div>
            <div class="card-body" style="margin-left:5%;">
                <h5 class="card-title">Pantallas</h5>
                <div class="row justify-content-center">
                    @foreach (var pantalla in Model.pantallas)
                    {
                    <div class="col-md-4">
                        <div class="">
                            <input class="form-check-input pantalla-checkbox" type="checkbox" id="pantalla-@pantalla.Panta_Id" name="pantallasSeleccionadas" value="@pantalla.Panta_Id" @(Model.PantallasID.Contains(pantalla.Panta_Id) ? "checked" : "" )>
                            <label class="form-check-label" for="pantalla-@pantalla.Panta_Id">
                                @pantalla.Panta_Descripcion
                            </label>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-4">
                        <button id="btnAgregar" type="button" class="btn btn-primary">Editar</button>
                    </div>
                    <div class="col-sm-4">
                        <a asp-action="Index" class="btn btn-dark">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#checkTodos').change(function () {
            if (this.checked) {
                $('.pantalla-checkbox').prop('checked', true);
            } else {
                $('.pantalla-checkbox').prop('checked', false);
            }
        });
    });

    $('#btnAgregar').click(function () {
        var rol = $('#txtRol').val();

        var pantallasSeleccionadas = [];
        console.log(rol)
        $('.pantalla-checkbox:checked').each(function () {
            pantallasSeleccionadas.push($(this).val());
        });
        var formData = {
            Rol_Id: @Model.Roles_Id,
            txtRol: rol,
            pantallasSeleccionadas: pantallasSeleccionadas,
        };

        console.log(formData)

        $.ajax({
            url: 'https://localhost:44377/API/Rol/UpdateRol',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (response) {
                window.location.href = 'Rol';
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });

</script>

