@model IEnumerable<FrontendCNE.Models.DepartamentoViewModel>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Departamentos</h1>
<style>
    td.details-control::after {
        content: "▶";
        cursor: pointer;
    }

    tr.shown td.details-control::after {
        content: "▼";
        cursor: pointer;
    }
</style>
<p>
    <button class="btnCreate btn btn-primary">Nuevo</button>
</p>
<table class="table table-striped table-hover table-responsive" id="myTable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Dep_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dep_Descripcion)
            </th>
            <th> Acciones</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Edit", new FrontendCNE.Models.DepartamentoViewModel())
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                @Html.Partial("_Create", new FrontendCNE.Models.DepartamentoViewModel())
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Delete", new FrontendCNE.Models.DepartamentoViewModel())
            </div>
        </div>
    </div>
</div>




<script src="~../../lib/jquery/dist/jquery.min.js"></script>

<script src="~../../js/dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $('.btnCreate').click(function () {
        $('#ModalCrear').modal('show')

    });



    //$('.btnEditar').click(function () {
    //    var id = $(this).data("id");

    //    $.ajax({
    //        url: /Departamento/Edit/${id},
    //        method: "GET",
    //        success: function (departamento) {
    //            console.log("Entro")

    //            console.log(departamento, "departamento")
    //            $('#id').val(departamento.dep_Id);
    //            $('#Descripcion').val(departamento.dep_Descripcion);
    //        },
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            console.error("Error al cargar los datos del departamento:", errorThrown);
    //        }
    //    });
    //    $('#modalEditar').modal('show');
    //});


    $("#editar-depa").click(function () {
        $('#modalEditar').modal('show');
    });


    $(".editar-depa").click(function () {
        var id = $(this).data("depa-id");
        var url = "https://localhost:44377/API/Departamento/Fill/" + id;
        fetch(url).then(function (result) {
            if (result.ok) {
                return result.json();
            }
        }).then(function (data) {
            console.log(data.data);
            var datos = data.data
            console.log("hola");

            //var depa = datos[0];
            var id = datos.dep_Id
            var descripcion = datos.dep_Descripcion;

            console.log(descripcion);
            $("#id").val(id);
            $("#Dep_Descripcion").val(descripcion);

        });
    });


    function Eliminar(id) {
        $("#inputHidden").val(id);
        localStorage.setItem("inputHidden", id);
        $('#modalEliminar').modal('show');
    }

</script>

    <script>

        


                        $(document).ready(function () {
                            $.ajax({
                                url: '/Departamento/DepartamentoCiudades',
                                type: 'GET',
                                dataType: 'json',
                                success: function (response) {
                                    console.log(response.data);
                                    var table = $('#myTable').DataTable({
                                        "data": response.data,
                                        "columns": [{
                                            "orderable": false,
                                            "data": null,
                                            "defaultContent": ''
                                        }, {
                                            "data": "dep_Id",
                                            "render": function (data, type, row) {
                                                return '<div style="text-align: center;">' + data + '</div>';
                                            }
                                        }, {
                                            "data": "dep_Descripcion"
                                        }, {
                                            "data": null,
                                            "render": function (data, type, row) {
                                                return `
                                                <div style="text-align: center;">
                                                <button class=" d-flex  justify-content-around btn btn-outline-warning btn-sm editar-depa " id="editar-depa" data-depa-id="${row.dep_Id}"><i class="fas fa-edit"></i>Editar</button>
                                                <a href="@Url.Action("Details", "DepartamentoController1", new { Dep_Id = "${row.dep_Id}"})" class="btn btn-outline-primary  btn-sm">Detalles <i class="tim-icons icon-zoom-split"></i></a>
                                                <button class="d-flex align-items-center justify-content-around btn btn-outline-danger btn-sm flex-grow-1" style="max-width: 100px" onclick="Eliminar('${row.dep_Id}')">
                                                    <i class="bi bi-trash-fill"></i>
                                                    Eliminar
                                                </button>
                                                </div>
                                                `;
                                            }
                                        }],
                                        "createdRow": function (row, data, dataIndex) {

                                            if (data.tbMunicipios && data.tbMunicipios.length > 0) {
                                                $(row).find("td:eq(0)").addClass('details-control');
                                            }
                                        }
                                    });//cierre datatable
                                    $('#myTable tbody').on('click', 'td.details-control', function () {
                                        var tr = $(this).closest('tr');
                                        var row = table.row(tr);

                                        if (row.child.isShown()) {
                                            row.child.hide();
                                            tr.removeClass('shown');
                                        } else {
                                            row.child(format(row.data())).show();
                                            tr.addClass('shown');
                                        }
                                    });
                                },
                                error: function (xhr, status, error) {
                                    console.error(error);
                                }
                            });//cierre del ajax
                            function format(d) {
                                let fila = '';
                                d.tbMunicipios.forEach(function (ciudad) {
                                    fila += '<div style="display: flex; justify-content: flex-start; gap: 20px;"><div style="margin-left: 65px;">' + ciudad.mun_Id + '</div><div style="margin-left: 40px;">' + ciudad.mun_Descripcion + '</div></div>';
                                })
                                return '<div style="display: flex; justify-content: flex-start; gap: 20px;">' +
                                    '<div style="margin-left: 65px;">ID</div>' +
                                    '<div style="margin-left: 55px;">Ciudad</div>' +
                                    '</div>' +
                                    fila;
                            }

                        });// cierre del document ready

                     



                       
    </script>
