@model IEnumerable<CNE.Common.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/dataTables.dataTables.min.css">

<h1>Usuarios</h1>

<p>
    <button class="btnCreate btn btn-primary">Nuevo</button>
</p>
<table class="table table-striped table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuar_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuar_Usuario)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Roles_Id)
            </th>



            <th> Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuar_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuar_Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles_Id)
                </td>

                <td style="width: 10%">
                    <div class="w-100" style="max-width: 350px">
                        <div class="d-flex w-100" style="gap: 5px;">
                            <button class="btn btn-outline-warning btn-sm editar-depa" data-depa-id="@item.Usuar_Id"><i class="fas fa-edit"></i>Editar</button>

                            <a href="@Url.Action("Details", "Usuario", new { Usuar_Id = item.Usuar_Id })" class="btn btn-outline-primary  btn-sm">Detalles <i class="tim-icons icon-zoom-split"></i></a>

                            <button class="d-flex align-items-center justify-content-around btn btn-outline-danger btn-sm flex-grow-1" style="max-width: 100px" onclick="Eliminar('@item.Usuar_Id')">
                                <i class="bi bi-trash-fill"></i>
                                Eliminar
                            </button>
                            <button class="btnC d-flex align-items-center justify-content-around btn btn-outline-info btn-sm flex-grow-1 editar-depa2" onclick="EdC('@item.Usuar_Id')" style="max-width: 100px">
                                <i class="bi bi-trash-fill"></i>
                                Restablecer Contraseña
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>






<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Edit", new CNE.Common.Models.UsuarioViewModel())
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalC" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_EditC", new CNE.Common.Models.UsuarioViewModel())
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                @Html.Partial("_Create", new CNE.Common.Models.UsuarioViewModel())
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Delete", new CNE.Common.Models.UsuarioViewModel())
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        let table = new DataTable('#myTable');
    });



    $('.btnCreate').click(function () {
        $('#ModalCrear').modal('show')

    });

    $('.btnC').click(function () {
        $('#modalC').modal('show')

    });

    function EdC(id) {
        $('#modalC').modal('show');
        $(".usuid").val(id);
    };


    $(".editar-depa").click(function () {
        $('#modalEditar').modal('show');
    });


    $(".editar-depa").click(function () {
        var id = $(this).data("depa-id");
        var url = "https://localhost:44377/API/Usuario/Fill/" + id;
        fetch(url).then(function (result) {
            if (result.ok) {
                return result.json();
            }
        }).then(function (data) {
          
            var datos = data.data
           

        
            var id = datos.usuar_Id
            var descripcion = datos.usuar_Usuario;

           
            $("#Usuar_Usuario").val(descripcion);

        });
    });


    function Eliminar(id) {
    
        $("#inputHidden").val(id);
        localStorage.setItem("inputHidden", id);
        $('#modalEliminar').modal('show');
    }
</script>

